.background{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTO9ygb6jicqYe3sZrVGZPoazH14KNyAxjOrQSG6634F7tb3niI&usqp=CAU");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}